.product__row {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
}
.product {
  display: flex;
  flex: 1;
  min-width: 200px;
  min-height: 300px;
  max-height: 350px;
  background-color: white;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px;
  margin: 10px;
  & .product__info {
    font-weight: bold;
    margin-bottom: 10px;
  }
  & .product__price {
    font-weight: 500;
    color: #b12704;
    margin-bottom: 5px;
  }
  & .product__rating > span {
    margin: 0 3px;
  }
  & .product__image {
    object-fit: contain;
    height: 180px;
    margin: 15px 0 20px 0;
  }
  & .product__button {
    width: 160px;
  }
}
