.header {
  position: fixed;
  width: 100%;
  height: 60px;
  display: flex;
  color: white;
  align-items: center;
  background-color: #131921;
  z-index: 2;

  .header__logo {
    height: 40px;
    object-fit: contain;
    margin: 18px 0px 10px 20px;
  }
}

.search {
  display: flex;
  flex: 1;
  align-items: center;
  margin: 0 55px 0 70px;
  .search__input {
    width: 100%;
    height: 34px;
    border-radius: 3px;
    border: none;
    outline: none;
    padding: 1px 10px;
  }
  & .search__icon {
    padding: 6px;
    color: black;
    margin-left: -36px;
    background-color: #febd69;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
  }
}
.secondaryNav {
  display: flex;
  font-size: 14px;
  font-weight: bold;
  justify-content: space-evenly;

  & .secondaryNav__item {
    margin: 0px 15px;
  }

  & .secondaryNav__textNormal {
    display: flex;
    font-weight: 500;
    font-size: 12px;
  }
  & .secondaryNav__textBold {
    display: flex;
    font-weight: bold;
    font-size: 14px;
  }
}

.navShopCart {
  margin: 0 20px 0 15px;
  display: flex;

  & a:link,
  a:visited {
    color: white;
    text-decoration: none;
  }
  .navShopCart__count {
    font-weight: bold;
    font-size: 20px;
    position: relative;
    color: #febd69;
    top: -9px;
  }
  .navShopCart__textBold {
    font-weight: bold;
    font-size: 14px;
  }
}
