.checkoutProduct {
  display: flex;
  padding: 20px 0;
  border-bottom: 1px solid lightgrey;
  .checkoutProduct__image {
    height: 150px;
    width: 150px;
    text-align: center;
    padding: 10px 0;
    img {
      height: 100%;
      object-fit: contain;
      width: 100%;
    }
  }
  .checkoutProduct__wrapper {
    padding: 15px 0;
  }
  .checkoutProduct__info {
    font-weight: bold;
    margin-bottom: 10px;
  }
  .checkoutProduct__price {
    font-weight: 500;
    color: #b12704;
    margin-bottom: 5px;
  }
  .checkoutProduct__rating {
    margin-bottom: 30px;
  }
  .checkoutProduct__button {
    width: 180px;
  }
  &:last-child {
    border-bottom: none;
  }
}
