* {
  margin: 0;
}

body {
  background-color: #eaeded;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.layout {
  width: 1500px;
  margin: 0 auto;
  padding-top: 60px;
}
.layout__product {
  z-index: 1;
  margin-top: -300px;
  position: relative;
  height: 100vh;
}

@media (max-width: 1440px) {
  .layout {
    width: 100%;
  }
}

button {
  margin: 0;
  outline: 0;
  border: 1;
  color: #111;
  cursor: pointer;
  align-self: center;
  line-height: 29px;
  border-radius: 2px;
  background-color: #febd69;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4) inset;
  background: linear-gradient(to bottom, #f7dfa5, #f0c14b);
  border-color: #a88734 #9c7e31 #846a29;
}
