* {
  margin: 0;
}

body {
  background-color: #eaeded;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.layout {
  width: 1500px;
  margin: 0 auto;
  padding-top: 60px;
}
.layout__product {
  z-index: 1;
  margin-top: -300px;
  position: relative;
  height: 100vh;
}

@media (max-width: 1440px) {
  .layout {
    width: 100%;
  }
}
button {
  cursor: pointer;
  margin: 0;
  outline: 0;
  align-self: center;
  line-height: 25px;
  &:disabled {
    cursor: initial;
  }
}

.layout {
  & .button__primary {
    border-radius: 3px;
    color: #111;
    background: #febd69;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4) inset;
    background: linear-gradient(to bottom, #f7dfa5, #f0c14b);
    border: 1px solid #a88734;
    border-color: #a88734 #9c7e31 #846a29;
    &:hover {
      border-color: #a88734 #9c7e31 #846a29;
      background: -webkit-linear-gradient(top, #f5d78e, #eeb933);
      background: linear-gradient(to bottom, #f5d78e, #eeb933);
    }
  }

  & .button__secondary {
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.6) inset;
    background: #eff1f3;
    background: -webkit-linear-gradient(top, #f7f8fa, #e7e9ec);
    background: linear-gradient(to bottom, #f7f8fa, #e7e9ec);
    border: 1px solid #6c6e73;
    border-color: #adb1b8 #a2a6ac #8d9096;
  }
}
